<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162434868083-d7vcdun8ve9hj57n7fikhi3gb897g05l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162434868083-d7vcdun8ve9hj57n7fikhi3gb897g05l</string>
	<key>API_KEY</key>
	<string>AIzaSyDDeciy-sHAEWa8qACbhGFMeOwf2zfzX4w</string>
	<key>GCM_SENDER_ID</key>
	<string>162434868083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Myproyecto.comm</string>
	<key>PROJECT_ID</key>
	<string>fir-conductor</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-conductor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162434868083:ios:e2554c58d379279de6db06</string>
</dict>
</plist>